@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito';
  src: url('/bandeins.ttf');
}

body {
  font-family: 'Nunito', sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(248 250 252);
}

::-webkit-scrollbar-thumb {
  background: rgb(16 185 129);
}

#stripe::-webkit-scrollbar, #scroll::-webkit-scrollbar {
  display: none;
}

#products::-webkit-scrollbar {
  display: none;
}
